<ion-view view-title="Portada" >
	
	<ion-content class="custom">
    <!-- <h1>Portada</h1> -->

	<div style="height:180px;" class=" row ayto">
		<br>
		<div class="col-20"></div>
		<div class="col col-center">
  			<h1 style="color:white; text-align:center;">Municipio</h1>
  			<hr class="hrorange">
			<p style="color:white; text-align:center;font-size:1.2em;">Ruta de la tapa</p>
  		</div>
  		<div class="col col-center col-20">
  			<a class="button icon-right ion-chevron-right button-clear" href="#/app/playlists" style="color:white;"></a>
  		</div>	
	</div> 

	<div style="height:180px;" class="row clasificacion">
		<br>
		<div class="col-20"></div>
		<div class="col col-center">		
			<h1 style="color:white; text-align:center;">Clasificación</h1>
  			<hr class="hrgreen">
			<p style="color:white; text-align:center;font-size:1.2em;">Vota tu tapa favorita</p>
		</div>
		<div class="col col-center col-20">
			<a class="button icon-right ion-chevron-right button-clear" style="color:white;"></a>
		</div>
	</div>


	<div style="height:180px;" class="row mapa">
		<br>
		<div class="col-20"></div>
		<div class="col col-center">
			<h1 style="color:white; text-align:center;">Mapa</h1>
  			<hr class="hrblue">
			<p style="color:white; text-align:center;font-size:1.2em;">Ruta de la tapa</p>
		</div>
		<div class="col col-center col-20">
			<a class="button icon-right ion-chevron-right button-clear " style="color:white;"></a>
		</div>
	</div>




  </ion-content>
</ion-view>

